
table {
    border-collapse: collapse;
    width: 80%;
}

table, th, td {
  border: 1px solid black;
}

th {
  background-color: SpringGreen;
}

tr:nth-child(even){background-color: Snow;}
tr:nth-child(odd){background-color: PeachPuff;}

.outer-content {
  width: 75%;
  background-color: lightpink;
  padding: 20px;
}

.inner-content {
  background-color: lightblue;
  width: inherit;
  margin: auto;
}

.form-input {
  margin-bottom: 15px;
  border: 1px solid black;
  padding: 15px;
}
